Repository LibrePCB/LibrePCB, pull requests merged in 2019-11, with the labels that each got.

#567 Board editor: Add PDF export and print support
  apps/EagleImport/EagleImport.pro
  apps/WorkspaceLibraryUpdater/WorkspaceLibraryUpdater.pro
  libs/librepcb/common/common.pro
  libs/librepcb/common/graphics/holegraphicsitem.cpp
  libs/librepcb/common/graphics/origincrossgraphicsitem.cpp
  libs/librepcb/common/graphics/origincrossgraphicsitem.h
  libs/librepcb/common/graphics/primitivecirclegraphicsitem.cpp
  libs/librepcb/common/graphics/primitivepathgraphicsitem.cpp
  libs/librepcb/project/boards/board.cpp
  libs/librepcb/project/boards/board.h
  libs/librepcb/project/boards/graphicsitems/bgi_plane.cpp
  libs/librepcb/projecteditor/boardeditor/boardeditor.cpp
  libs/librepcb/projecteditor/boardeditor/boardeditor.h
  libs/librepcb/projecteditor/boardeditor/boardeditor.ui
Labels: enhancement, tool-board-editor

#568 Fix focus issue in polygon editor dialog
  libs/librepcb/common/model/angledelegate.cpp
  libs/librepcb/common/model/angledelegate.h
  libs/librepcb/common/model/lengthdelegate.cpp
  libs/librepcb/common/model/lengthdelegate.h
Labels: UI / UX, bug, tool-board-editor, tool-library-editor

#569 Library editor: Add mirror functionality to symbol/footprint editors
  img/actions/swap.png
  img/images.qrc
  libs/librepcb/common/geometry/cmd/cmdcircleedit.cpp
  libs/librepcb/common/geometry/cmd/cmdcircleedit.h
  libs/librepcb/common/geometry/cmd/cmdholeedit.cpp
  libs/librepcb/common/geometry/cmd/cmdholeedit.h
  libs/librepcb/common/geometry/cmd/cmdpolygonedit.cpp
  libs/librepcb/common/geometry/cmd/cmdpolygonedit.h
  libs/librepcb/common/geometry/cmd/cmdstroketextedit.cpp
  libs/librepcb/common/geometry/cmd/cmdstroketextedit.h
  libs/librepcb/common/geometry/cmd/cmdtextedit.cpp
  libs/librepcb/common/geometry/cmd/cmdtextedit.h
  libs/librepcb/library/pkg/cmd/cmdfootprintpadedit.cpp
  libs/librepcb/library/pkg/cmd/cmdfootprintpadedit.h
  libs/librepcb/library/sym/cmd/cmdsymbolpinedit.cpp
  libs/librepcb/library/sym/cmd/cmdsymbolpinedit.h
  libs/librepcb/libraryeditor/common/editorwidgetbase.h
  libs/librepcb/libraryeditor/libraryeditor.cpp
  libs/librepcb/libraryeditor/libraryeditor.h
  libs/librepcb/libraryeditor/libraryeditor.ui
  libs/librepcb/libraryeditor/pkg/fsm/cmd/cmddragselectedfootprintitems.cpp
  libs/librepcb/libraryeditor/pkg/fsm/cmd/cmddragselectedfootprintitems.h
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorfsm.cpp
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorfsm.h
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorstate.h
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorstate_select.cpp
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorstate_select.h
  libs/librepcb/libraryeditor/pkg/packageeditorwidget.cpp
  libs/librepcb/libraryeditor/pkg/packageeditorwidget.h
  libs/librepcb/libraryeditor/sym/fsm/cmd/cmddragselectedsymbolitems.cpp
  libs/librepcb/libraryeditor/sym/fsm/cmd/cmddragselectedsymbolitems.h
  libs/librepcb/libraryeditor/sym/fsm/symboleditorfsm.cpp
  libs/librepcb/libraryeditor/sym/fsm/symboleditorfsm.h
  libs/librepcb/libraryeditor/sym/fsm/symboleditorstate.h
  libs/librepcb/libraryeditor/sym/fsm/symboleditorstate_select.cpp
  libs/librepcb/libraryeditor/sym/fsm/symboleditorstate_select.h
  libs/librepcb/libraryeditor/sym/symboleditorwidget.cpp
  libs/librepcb/libraryeditor/sym/symboleditorwidget.h
  libs/librepcb/project/boards/cmd/cmddeviceinstanceeditall.cpp
  libs/librepcb/project/boards/cmd/cmdfootprintstroketextsreset.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/bes_addstroketext.cpp
  libs/librepcb/projecteditor/cmd/cmdflipselectedboarditems.cpp
Labels: UI / UX, enhancement, tool-library-editor

#570 Package editor: Show footprint pad names
  libs/librepcb/library/pkg/footprintgraphicsitem.cpp
  libs/librepcb/library/pkg/footprintgraphicsitem.h
  libs/librepcb/library/pkg/footprintpad.cpp
  libs/librepcb/library/pkg/footprintpadgraphicsitem.cpp
  libs/librepcb/library/pkg/footprintpadgraphicsitem.h
  libs/librepcb/libraryeditor/pkg/footprintclipboarddata.cpp
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorfsm.cpp
Labels: UI / UX, enhancement, tool-library-editor

#573 ControlPanel::projectEditorClosed: Use toUnique on file path
  apps/librepcb/controlpanel/controlpanel.cpp
Labels: bug

#571 CI: Create archive for deployment on Linux
  ci/azure-jobs-linux.yml
  ci/build_linux_appimage.sh
  ci/build_linux_archive.sh
Labels: bug, ci, deployment, enhancement, os-linux

#582 Fix possibly wrong grab area of various graphics items
  libs/librepcb/common/toolbox.cpp
  tests/unittests/common/toolboxtest.cpp
Labels: UI / UX, bug

#583 CLI: Add "--strict" option
  apps/librepcb-cli/commandlineinterface.cpp
  apps/librepcb-cli/commandlineinterface.h
  libs/librepcb/common/fileio/transactionalfilesystem.cpp
  libs/librepcb/common/fileio/transactionalfilesystem.h
  tests/cli/open-project/test_save.py
  tests/cli/open-project/test_strict.py
  tests/unittests/common/fileio/transactionalfilesystemtest.cpp
Labels: enhancement

#581 Board editor: Add initial design rule check
  img/actions/drc.png
  img/images.qrc
  libs/librepcb/common/font/strokefont.cpp
  libs/librepcb/common/geometry/path.cpp
  libs/librepcb/common/geometry/path.h
  libs/librepcb/common/graphics/graphicsview.cpp
  libs/librepcb/common/graphics/graphicsview.h
  libs/librepcb/common/graphics/stroketextgraphicsitem.cpp
  libs/librepcb/common/utils/clipperhelpers.cpp
  libs/librepcb/common/utils/clipperhelpers.h
  libs/librepcb/project/boards/board.h
  libs/librepcb/project/boards/drc/boardclipperpathgenerator.cpp
  libs/librepcb/project/boards/drc/boardclipperpathgenerator.h
  libs/librepcb/project/boards/drc/boarddesignrulecheck.cpp
  libs/librepcb/project/boards/drc/boarddesignrulecheck.h
  libs/librepcb/project/boards/drc/boarddesignrulecheckmessage.cpp
  libs/librepcb/project/boards/drc/boarddesignrulecheckmessage.h
  libs/librepcb/project/boards/graphicsitems/bgi_plane.cpp
  libs/librepcb/project/project.pro
  libs/librepcb/projecteditor/boardeditor/boarddesignrulecheckdialog.cpp
  libs/librepcb/projecteditor/boardeditor/boarddesignrulecheckdialog.h
  libs/librepcb/projecteditor/boardeditor/boarddesignrulecheckdialog.ui
  libs/librepcb/projecteditor/boardeditor/boarddesignrulecheckmessagesdock.cpp
  libs/librepcb/projecteditor/boardeditor/boarddesignrulecheckmessagesdock.h
  libs/librepcb/projecteditor/boardeditor/boarddesignrulecheckmessagesdock.ui
  libs/librepcb/projecteditor/boardeditor/boardeditor.cpp
  libs/librepcb/projecteditor/boardeditor/boardeditor.h
  libs/librepcb/projecteditor/boardeditor/boardeditor.ui
  libs/librepcb/projecteditor/projecteditor.pro
Labels: enhancement, tool-board-editor
