Repository LibrePCB/LibrePCB, pull requests merged in 2020-08, with the labels that each got.

#738 CI: Migrate Windows job from AppVeyor to Azure Pipelines
  README.md
  appveyor.yml
  ci/azure-jobs-windows.yml
  ci/azure-pipelines.yml
  ci/build_installer.sh
  ci/build_librepcb.sh
  ci/build_windows_archive.sh
  ci/install_dependencies.sh
  ci/upload_artifacts.sh
  tests/funq/requirements.txt
  tests/unittests/common/sqlitedatabasetest.cpp
Labels: ci, os-windows

#733 Improvements to "draw trace" command
  libs/librepcb/common/graphics/graphicsview.cpp
  libs/librepcb/common/widgets/lengtheditbase.cpp
  libs/librepcb/common/widgets/lengtheditbase.h
  libs/librepcb/project/boards/items/bi_netpoint.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/bes_drawtrace.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/bes_drawtrace.h
Labels: UI / UX, enhancement, tool-board-editor

#743 README: Update project status & installation instructions
  README.md
Labels: documentation

#744 Add developer guidelines for updating Pull Requests
  CONTRIBUTING.md
  dev/doxygen/pages/developers.md
Labels: development, documentation

#749 When placing a via, allow its placement at the start Point
  libs/librepcb/projecteditor/boardeditor/fsm/bes_drawtrace.cpp
Labels: UI / UX, bug, tool-board-editor

#745 ERC: Disregard schematic-only components in net pin count
  libs/librepcb/project/circuit/componentsignalinstance.h
  libs/librepcb/project/circuit/netsignal.cpp
Labels: enhancement

#746 Board editor: Don't remove complete trace when changing device
  libs/librepcb/projecteditor/cmd/cmdreplacedevice.cpp
Labels: UI / UX, enhancement, tool-board-editor

#742 Allow unbundling polyclipping
  apps/EagleImport/EagleImport.pro
  apps/UuidGenerator/UuidGenerator.pro
  apps/librepcb-cli/librepcb-cli.pro
  apps/librepcb/librepcb.pro
  ci/azure-jobs-linux.yml
  ci/build_librepcb.sh
  ci/stylecheck.sh
  common.pri
  dev/doxygen/pages/building.md
  librepcb.pro
  libs/librepcb/common/common.pro
  libs/librepcb/common/utils/clipperhelpers.h
  libs/librepcb/project/boards/boardplanefragmentsbuilder.h
  libs/librepcb/project/boards/drc/boardclipperpathgenerator.h
  libs/librepcb/project/boards/drc/boarddesignrulecheck.h
  libs/librepcb/project/project.pro
  libs/libs.pro
  libs/polyclipping/License.txt
  libs/polyclipping/README
  libs/polyclipping/clipper.cpp
  libs/polyclipping/clipper.hpp
  libs/polyclipping/polyclipping.pro
  tests/unittests/unittests.pro
Labels: deployment, enhancement

#736 Board editor: Improve the "add via" tool
  libs/librepcb/project/boards/board.h
  libs/librepcb/projecteditor/boardeditor/fsm/bes_addvia.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/bes_addvia.h
  libs/librepcb/projecteditor/boardeditor/fsm/bes_drawtrace.cpp
  libs/librepcb/projecteditor/cmd/cmdboardsplitnetline.cpp
  libs/librepcb/projecteditor/cmd/cmdboardsplitnetline.h
  libs/librepcb/projecteditor/projecteditor.pro
Labels: UI / UX, enhancement, refactoring, tool-board-editor

#748 Board editor: Refactor and improve context menu
  libs/librepcb/common/units/point.cpp
  libs/librepcb/common/units/point.h
  libs/librepcb/projecteditor/boardeditor/fsm/bes_select.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/bes_select.h
  libs/librepcb/projecteditor/cmd/cmddragselectedboarditems.cpp
  libs/librepcb/projecteditor/cmd/cmddragselectedboarditems.h
Labels: UI / UX, enhancement, refactoring, tool-board-editor

#756 Improve search behavior in board- and schematic editor
  libs/librepcb/projecteditor/boardeditor/boardeditor.cpp
  libs/librepcb/projecteditor/boardeditor/boardeditor.h
  libs/librepcb/projecteditor/schematiceditor/schematiceditor.cpp
  libs/librepcb/projecteditor/schematiceditor/schematiceditor.h
  libs/librepcb/projecteditor/toolbars/searchtoolbar.cpp
  libs/librepcb/projecteditor/toolbars/searchtoolbar.h
Labels: UI / UX, enhancement, tool-board-editor, tool-schematics-editor

#757 Editors: Improve context menu handling
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorstate_select.cpp
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorstate_select.h
  libs/librepcb/libraryeditor/sym/fsm/symboleditorstate_select.cpp
  libs/librepcb/libraryeditor/sym/fsm/symboleditorstate_select.h
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorstate_select.cpp
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorstate_select.h
Labels: refactoring, tool-library-editor, tool-schematics-editor

#751 Draw Trace: Allow connection to multiple anchors
  libs/librepcb/projecteditor/boardeditor/fsm/bes_drawtrace.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/bes_drawtrace.h
Labels: tool-board-editor

#761 Schematic editor: Fix leaving tool with right click + move
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorstate_addcomponent.cpp
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorstate_addnetlabel.cpp
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorstate_drawwire.cpp
Labels: UI / UX, bug, tool-schematics-editor
