Repository LibrePCB/LibrePCB, pull requests merged in 2020-09, with the labels that each got.

#763 Remove linking output message in qmake project file
  librepcb.pro
Labels: development

#753 Board editor: Snap to nearest anchor when starting a trace
  libs/librepcb/project/boards/board.cpp
  libs/librepcb/project/boards/board.h
  libs/librepcb/project/boards/items/bi_netsegment.cpp
  libs/librepcb/project/boards/items/bi_netsegment.h
  libs/librepcb/projecteditor/boardeditor/fsm/bes_drawtrace.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/bes_drawtrace.h
Labels: enhancement, tool-board-editor

#764 BES_DrawTrace: Get rid of member variable mCurrentNetSignal
  libs/librepcb/projecteditor/boardeditor/fsm/bes_drawtrace.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/bes_drawtrace.h
Labels: bug, tool-board-editor

#765 Library Editor: Duplicate all categories
  libs/librepcb/libraryeditor/newelementwizard/newelementwizardcontext.cpp
  libs/librepcb/libraryeditor/newelementwizard/newelementwizardcontext.h
  libs/librepcb/libraryeditor/newelementwizard/newelementwizardpage_entermetadata.cpp
  libs/librepcb/libraryeditor/newelementwizard/newelementwizardpage_entermetadata.ui
Labels: bug, tool-library-editor

#768 Schematic editor: Make component toolbar norm-aware
  img/images.qrc
  img/library/bipolar_capacitor_us.png
  img/library/inductor_us.png
  img/library/resistor_us.png
  img/library/unipolar_capacitor_us.png
  libs/librepcb/projecteditor/schematiceditor/schematiceditor.cpp
  libs/librepcb/projecteditor/schematiceditor/schematiceditor.h
Labels: UI / UX, enhancement, tool-schematics-editor

#769 Library editor: Allow rotate/mirror/flip while moving items
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorstate_select.cpp
  libs/librepcb/libraryeditor/sym/fsm/symboleditorstate_select.cpp
Labels: UI / UX, enhancement, tool-library-editor

#770 Fix possibly outdated texts of devices in boards
  libs/librepcb/project/boards/items/bi_device.cpp
  libs/librepcb/project/boards/items/bi_stroketext.cpp
  libs/librepcb/project/boards/items/bi_stroketext.h
Labels: bug, tool-board-editor

#771 Fix possibly outdated displayed net names in boards
  libs/librepcb/project/boards/graphicsitems/bgi_footprintpad.cpp
  libs/librepcb/project/boards/items/bi_footprintpad.cpp
  libs/librepcb/project/boards/items/bi_footprintpad.h
  libs/librepcb/project/boards/items/bi_netline.cpp
  libs/librepcb/project/boards/items/bi_via.cpp
  libs/librepcb/project/boards/items/bi_via.h
Labels: bug, tool-board-editor

#767 Factor out more geometry classes of schematics/boards
  libs/librepcb/common/common.pro
  libs/librepcb/common/geometry/junction.cpp
  libs/librepcb/common/geometry/junction.h
  libs/librepcb/common/geometry/netlabel.cpp
  libs/librepcb/common/geometry/netlabel.h
  libs/librepcb/common/geometry/netline.cpp
  libs/librepcb/common/geometry/netline.h
  libs/librepcb/common/geometry/trace.cpp
  libs/librepcb/common/geometry/trace.h
  libs/librepcb/common/geometry/via.cpp
  libs/librepcb/common/geometry/via.h
  libs/librepcb/project/boards/boardgerberexport.cpp
  libs/librepcb/project/boards/boardplanefragmentsbuilder.cpp
  libs/librepcb/project/boards/cmd/cmdboardnetsegmentaddelements.cpp
  libs/librepcb/project/boards/cmd/cmdboardnetsegmentaddelements.h
  libs/librepcb/project/boards/cmd/cmdboardviaedit.cpp
  libs/librepcb/project/boards/cmd/cmdboardviaedit.h
  libs/librepcb/project/boards/drc/boardclipperpathgenerator.cpp
  libs/librepcb/project/boards/graphicsitems/bgi_via.cpp
  libs/librepcb/project/boards/items/bi_footprintpad.cpp
  libs/librepcb/project/boards/items/bi_footprintpad.h
  libs/librepcb/project/boards/items/bi_netline.cpp
  libs/librepcb/project/boards/items/bi_netline.h
  libs/librepcb/project/boards/items/bi_netpoint.cpp
  libs/librepcb/project/boards/items/bi_netpoint.h
  libs/librepcb/project/boards/items/bi_netsegment.cpp
  libs/librepcb/project/boards/items/bi_via.cpp
  libs/librepcb/project/boards/items/bi_via.h
  libs/librepcb/project/circuit/netsignal.cpp
  libs/librepcb/project/schematics/items/si_netlabel.cpp
  libs/librepcb/project/schematics/items/si_netlabel.h
  libs/librepcb/project/schematics/items/si_netline.cpp
  libs/librepcb/project/schematics/items/si_netline.h
  libs/librepcb/project/schematics/items/si_netpoint.cpp
  libs/librepcb/project/schematics/items/si_netpoint.h
  libs/librepcb/project/schematics/items/si_symbolpin.cpp
  libs/librepcb/project/schematics/items/si_symbolpin.h
  libs/librepcb/project/schematics/schematicselectionquery.cpp
  libs/librepcb/project/schematics/schematicselectionquery.h
  libs/librepcb/projecteditor/boardeditor/boardviapropertiesdialog.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorstate_addvia.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorstate_addvia.h
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorstate_drawtrace.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorstate_drawtrace.h
  libs/librepcb/projecteditor/cmd/cmdcombineboardnetsegments.cpp
  libs/librepcb/projecteditor/cmd/cmdpasteschematicitems.cpp
  libs/librepcb/projecteditor/cmd/cmdremoveboarditems.cpp
  libs/librepcb/projecteditor/cmd/cmdremoveselectedschematicitems.cpp
  libs/librepcb/projecteditor/cmd/cmdremoveselectedschematicitems.h
  libs/librepcb/projecteditor/schematiceditor/schematicclipboarddata.cpp
  libs/librepcb/projecteditor/schematiceditor/schematicclipboarddata.h
  libs/librepcb/projecteditor/schematiceditor/schematicclipboarddatabuilder.cpp
  libs/librepcb/projecteditor/schematiceditor/schematicnetsegmentsplitter.cpp
  libs/librepcb/projecteditor/schematiceditor/schematicnetsegmentsplitter.h
Labels: UI / UX, enhancement, refactoring, tool-board-editor, tool-schematics-editor

#754 Board editor: Implement clipboard cut/copy/paste
  libs/librepcb/project/boards/boardselectionquery.cpp
  libs/librepcb/project/boards/boardselectionquery.h
  libs/librepcb/projecteditor/boardeditor/boardclipboarddata.cpp
  libs/librepcb/projecteditor/boardeditor/boardclipboarddata.h
  libs/librepcb/projecteditor/boardeditor/boardclipboarddatabuilder.cpp
  libs/librepcb/projecteditor/boardeditor/boardclipboarddatabuilder.h
  libs/librepcb/projecteditor/boardeditor/boardeditor.ui
  libs/librepcb/projecteditor/boardeditor/boardnetsegmentsplitter.cpp
  libs/librepcb/projecteditor/boardeditor/boardnetsegmentsplitter.h
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorstate_select.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorstate_select.h
  libs/librepcb/projecteditor/cmd/cmdpasteboarditems.cpp
  libs/librepcb/projecteditor/cmd/cmdpasteboarditems.h
  libs/librepcb/projecteditor/cmd/cmdpastefootprintitems.cpp
  libs/librepcb/projecteditor/cmd/cmdpastefootprintitems.h
  libs/librepcb/projecteditor/cmd/cmdremoveboarditems.cpp
  libs/librepcb/projecteditor/cmd/cmdremoveboarditems.h
  libs/librepcb/projecteditor/cmd/cmdremoveselectedboarditems.cpp
  libs/librepcb/projecteditor/projecteditor.pro
Labels: UI / UX, enhancement, tool-board-editor

#772 Functional tests: Revert marking failed tests on macOS with xfail
  tests/funq/librarymanager/test_create_local_library.py
  tests/funq/librarymanager/test_download_manually.py
  tests/funq/librarymanager/test_install_remote_libraries.py
Labels: ci, os-macos

#773 Allow to modify polygons graphically
  libs/librepcb/common/graphics/polygongraphicsitem.cpp
  libs/librepcb/common/graphics/polygongraphicsitem.h
  libs/librepcb/common/graphics/primitivepathgraphicsitem.cpp
  libs/librepcb/common/graphics/primitivepathgraphicsitem.h
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorstate_select.cpp
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorstate_select.h
  libs/librepcb/libraryeditor/sym/fsm/symboleditorstate_select.cpp
  libs/librepcb/libraryeditor/sym/fsm/symboleditorstate_select.h
  libs/librepcb/project/boards/items/bi_polygon.h
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorstate_select.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorstate_select.h
Labels: UI / UX, enhancement, tool-board-editor, tool-library-editor

#774 Board editor: Allow to modify planes graphically
  libs/librepcb/project/boards/graphicsitems/bgi_plane.cpp
  libs/librepcb/project/boards/graphicsitems/bgi_plane.h
  libs/librepcb/project/boards/items/bi_plane.h
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorstate_select.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorstate_select.h
Labels: UI / UX, enhancement, tool-board-editor

#775 LibraryDownload: Remove destination ZIP before starting download
  libs/librepcb/librarymanager/librarydownload.cpp
  libs/librepcb/librarymanager/librarydownload.h
  tests/unittests/librarymanager/librarydownloadtest.cpp
  tests/unittests/unittests.pro
Labels: bug, tool-library-manager

#776 CONTRIBUTING.md: Update link to website repository
  CONTRIBUTING.md
Labels: documentation
