Repository LibrePCB/LibrePCB, pull requests merged in 2020-02, with the labels that each got.

#656 Add SVG export to schematic-/board editors
  README.md
  apps/librepcb/librepcb.pro
  ci/azure-jobs-doxygen.yml
  ci/azure-jobs-linux.yml
  ci/azure-jobs-stylecheck.yml
  img/actions/export_svg.png
  img/images.qrc
  libs/librepcb/projecteditor/boardeditor/boardeditor.cpp
  libs/librepcb/projecteditor/boardeditor/boardeditor.h
  libs/librepcb/projecteditor/boardeditor/boardeditor.ui
  libs/librepcb/projecteditor/projecteditor.pro
  libs/librepcb/projecteditor/schematiceditor/schematiceditor.cpp
  libs/librepcb/projecteditor/schematiceditor/schematiceditor.h
  libs/librepcb/projecteditor/schematiceditor/schematiceditor.ui
Labels: enhancement, tool-board-editor, tool-schematics-editor

#668 Fix grammar: was crashed -> crashed
  dev/doxygen/pages/project.md
  libs/librepcb/common/fileio/directorylock.h
  libs/librepcb/common/fileio/transactionalfilesystem.cpp
  libs/librepcb/workspace/workspace.cpp
Labels: i18n / l10n

#670 TransactionalFileSystem: Use callback to ask for restoring
  apps/librepcb/controlpanel/controlpanel.cpp
  apps/librepcb/controlpanel/controlpanel.h
  apps/librepcb/projectlibraryupdater/projectlibraryupdater.cpp
  libs/librepcb/common/application.cpp
  libs/librepcb/common/fileio/transactionalfilesystem.cpp
  libs/librepcb/common/fileio/transactionalfilesystem.h
  libs/librepcb/libraryeditor/common/editorwidgetbase.cpp
  libs/librepcb/libraryeditor/common/editorwidgetbase.h
  tests/unittests/common/fileio/transactionalfilesystemtest.cpp
Labels: refactoring

#671 Add "search" toolbar to schematic- and board editor
  libs/librepcb/project/boards/items/bi_footprint.cpp
  libs/librepcb/project/boards/items/bi_footprint.h
  libs/librepcb/project/schematics/items/si_symbol.cpp
  libs/librepcb/project/schematics/items/si_symbol.h
  libs/librepcb/projecteditor/boardeditor/boardeditor.cpp
  libs/librepcb/projecteditor/boardeditor/boardeditor.h
  libs/librepcb/projecteditor/boardeditor/boardeditor.ui
  libs/librepcb/projecteditor/projecteditor.pro
  libs/librepcb/projecteditor/schematiceditor/schematiceditor.cpp
  libs/librepcb/projecteditor/schematiceditor/schematiceditor.h
  libs/librepcb/projecteditor/schematiceditor/schematiceditor.ui
  libs/librepcb/projecteditor/toolbars/searchtoolbar.cpp
  libs/librepcb/projecteditor/toolbars/searchtoolbar.h
Labels: UI / UX, enhancement, tool-board-editor, tool-schematics-editor

#673 Library editor: Add "filter" toolbar to filter element lists
  libs/librepcb/libraryeditor/lib/libraryoverviewwidget.cpp
  libs/librepcb/libraryeditor/lib/libraryoverviewwidget.h
  libs/librepcb/libraryeditor/libraryeditor.cpp
  libs/librepcb/libraryeditor/libraryeditor.ui
Labels: UI / UX, enhancement, tool-library-editor

#672 Board editor: Fix duplicate vertices when drawing polygons
  libs/librepcb/projecteditor/boardeditor/fsm/bes_drawpolygon.cpp
Labels: bug, tool-board-editor

#674 Fix various translation issues
  apps/librepcb/controlpanel/controlpanel.cpp
  apps/librepcb/controlpanel/controlpanel.h
  apps/librepcb/controlpanel/controlpanel.ui
  libs/librepcb/library/cmp/cmpsigpindisplaytype.cpp
  libs/librepcb/libraryeditor/libraryeditor.cpp
  libs/librepcb/libraryeditor/libraryeditor.ui
  libs/librepcb/project/boards/board.cpp
  libs/librepcb/project/boards/items/bi_device.cpp
  libs/librepcb/project/boards/items/bi_footprint.cpp
  libs/librepcb/project/boards/items/bi_netline.cpp
  libs/librepcb/project/boards/items/bi_netpoint.cpp
  libs/librepcb/project/boards/items/bi_netsegment.cpp
  libs/librepcb/project/circuit/circuit.cpp
  libs/librepcb/project/circuit/componentinstance.cpp
  libs/librepcb/project/circuit/componentsignalinstance.cpp
  libs/librepcb/project/circuit/netsignal.cpp
  libs/librepcb/project/library/projectlibrary.cpp
  libs/librepcb/project/project.cpp
  libs/librepcb/project/schematics/items/si_netline.cpp
  libs/librepcb/project/schematics/items/si_netsegment.cpp
  libs/librepcb/project/schematics/items/si_symbol.cpp
  libs/librepcb/project/schematics/schematic.cpp
  libs/librepcb/projecteditor/boardeditor/boardeditor.ui
  libs/librepcb/projecteditor/boardeditor/fsm/bes_select.cpp
  libs/librepcb/projecteditor/schematiceditor/schematiceditor.ui
Labels: i18n / l10n
