Repository LibrePCB/LibrePCB, pull requests merged in 2020-07, with the labels that each got.

#721 CI: Work around MSYS2 error on AppVeyor
  appveyor.yml
Labels: ci, os-windows

#723 Implement "select all" (Ctrl+A) action in all editors
  img/actions/select_all.png
  img/images.qrc
  libs/librepcb/libraryeditor/common/editorwidgetbase.h
  libs/librepcb/libraryeditor/libraryeditor.cpp
  libs/librepcb/libraryeditor/libraryeditor.h
  libs/librepcb/libraryeditor/libraryeditor.ui
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorfsm.cpp
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorfsm.h
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorstate.h
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorstate_select.cpp
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorstate_select.h
  libs/librepcb/libraryeditor/pkg/packageeditorwidget.cpp
  libs/librepcb/libraryeditor/pkg/packageeditorwidget.h
  libs/librepcb/libraryeditor/sym/fsm/symboleditorfsm.cpp
  libs/librepcb/libraryeditor/sym/fsm/symboleditorfsm.h
  libs/librepcb/libraryeditor/sym/fsm/symboleditorstate.h
  libs/librepcb/libraryeditor/sym/fsm/symboleditorstate_select.cpp
  libs/librepcb/libraryeditor/sym/fsm/symboleditorstate_select.h
  libs/librepcb/libraryeditor/sym/symboleditorwidget.cpp
  libs/librepcb/libraryeditor/sym/symboleditorwidget.h
  libs/librepcb/project/boards/board.cpp
  libs/librepcb/project/boards/board.h
  libs/librepcb/project/boards/items/bi_netsegment.cpp
  libs/librepcb/project/boards/items/bi_netsegment.h
  libs/librepcb/project/schematics/items/si_netsegment.cpp
  libs/librepcb/project/schematics/items/si_netsegment.h
  libs/librepcb/project/schematics/schematic.cpp
  libs/librepcb/project/schematics/schematic.h
  libs/librepcb/projecteditor/boardeditor/boardeditor.cpp
  libs/librepcb/projecteditor/boardeditor/boardeditor.ui
  libs/librepcb/projecteditor/boardeditor/fsm/bes_select.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorevent.h
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorfsm.cpp
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorfsm.h
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorstate.h
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorstate_select.cpp
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorstate_select.h
  libs/librepcb/projecteditor/schematiceditor/schematiceditor.cpp
  libs/librepcb/projecteditor/schematiceditor/schematiceditor.ui
Labels: UI / UX, enhancement, tool-board-editor, tool-library-editor, tool-schematics-editor

#724 SchematicEditor: Implement clipboard cut/copy/paste
  libs/librepcb/common/fileio/transactionaldirectory.cpp
  libs/librepcb/common/fileio/transactionaldirectory.h
  libs/librepcb/common/fileio/transactionalfilesystem.cpp
  libs/librepcb/common/fileio/transactionalfilesystem.h
  libs/librepcb/project/circuit/cmd/cmdcomponentinstanceadd.cpp
  libs/librepcb/project/circuit/cmd/cmdcomponentinstanceadd.h
  libs/librepcb/project/schematics/schematic.h
  libs/librepcb/projecteditor/cmd/cmdpasteschematicitems.cpp
  libs/librepcb/projecteditor/cmd/cmdpasteschematicitems.h
  libs/librepcb/projecteditor/cmd/cmdremoveselectedschematicitems.cpp
  libs/librepcb/projecteditor/projecteditor.pro
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorstate_select.cpp
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorstate_select.h
  libs/librepcb/projecteditor/schematiceditor/schematicclipboarddata.cpp
  libs/librepcb/projecteditor/schematiceditor/schematicclipboarddata.h
  libs/librepcb/projecteditor/schematiceditor/schematicclipboarddatabuilder.cpp
  libs/librepcb/projecteditor/schematiceditor/schematicclipboarddatabuilder.h
  libs/librepcb/projecteditor/schematiceditor/schematiceditor.ui
  libs/librepcb/projecteditor/schematiceditor/schematicnetsegmentsplitter.cpp
  libs/librepcb/projecteditor/schematiceditor/schematicnetsegmentsplitter.h
  tests/unittests/common/fileio/transactionaldirectorytest.cpp
  tests/unittests/common/fileio/transactionalfilesystemtest.cpp
Labels: UI / UX, enhancement, tool-schematics-editor

#729 Fix fontobene-qt5 config in libs.pro
  libs/libs.pro
Labels: bug
