Repository LibrePCB/LibrePCB, pull requests merged in 2020-06, with the labels that each got.

#698 Allow unbundling of some vendored libraries
  README.md
  apps/EagleImport/EagleImport.pro
  apps/UuidGenerator/UuidGenerator.pro
  apps/librepcb-cli/librepcb-cli.pro
  apps/librepcb/librepcb.pro
  ci/azure-jobs-linux.yml
  ci/build_librepcb.sh
  ci/install_dependencies.sh
  common.pri
  dev/doxygen/images/qtcreator_desktopkit.png
  dev/doxygen/images/qtcreator_run.png
  dev/doxygen/pages/building.md
  librepcb.pro
  libs/librepcb/common/application.cpp
  libs/librepcb/common/application.h
  libs/librepcb/common/common.pro
  libs/librepcb/common/dialogs/aboutdialog.cpp
  libs/librepcb/common/fileio/transactionalfilesystem.cpp
  libs/librepcb/common/network/filedownload.cpp
  libs/librepcb/eagleimport/eagleimport.pro
  libs/librepcb/library/library.pro
  libs/librepcb/libraryeditor/libraryeditor.pro
  libs/librepcb/librarymanager/librarymanager.pro
  libs/librepcb/project/project.pro
  libs/librepcb/projecteditor/projecteditor.pro
  libs/librepcb/workspace/workspace.pro
  libs/libs.pro
  tests/unittests/unittests.pro
Labels: enhancement, os-linux

#715 Ensure that parent dir exists when moving files or directories
  libs/librepcb/common/fileio/fileutils.cpp
Labels: bug

#719 Fix crash when going back in "new component" wizard
  libs/librepcb/libraryeditor/cmp/componentsymbolvariantitemlisteditorwidget.cpp
  libs/librepcb/libraryeditor/cmp/componentsymbolvariantitemlisteditorwidget.h
  libs/librepcb/libraryeditor/cmp/compsymbvarpinsignalmapeditorwidget.cpp
  libs/librepcb/libraryeditor/cmp/compsymbvarpinsignalmapeditorwidget.h
  libs/librepcb/libraryeditor/newelementwizard/newelementwizardpage_componentpinsignalmap.cpp
  libs/librepcb/libraryeditor/newelementwizard/newelementwizardpage_componentpinsignalmap.h
  libs/librepcb/libraryeditor/newelementwizard/newelementwizardpage_componentsymbols.cpp
  libs/librepcb/libraryeditor/newelementwizard/newelementwizardpage_componentsymbols.h
  tests/funq/aliases
  tests/funq/libraryeditor/test_create_component.py
Labels: UI / UX, bug, tool-library-editor
