Repository LibrePCB/LibrePCB, pull requests merged in 2021-03, with the labels that each got.

#874 SQLiteDatabaseTest: Simplify flaky concurrency test case
  ci/azure-jobs-linux.yml
  ci/azure-jobs-macos.yml
  ci/azure-jobs-windows.yml
  tests/funq/requirements.txt
  tests/unittests/common/sqlitedatabasetest.cpp
Labels: ci

#871 Allow opening locked workspace/project/library in some cases
  apps/librepcb/controlpanel/controlpanel.cpp
  apps/librepcb/main.cpp
  libs/librepcb/common/common.pro
  libs/librepcb/common/dialogs/directorylockhandlerdialog.cpp
  libs/librepcb/common/dialogs/directorylockhandlerdialog.h
  libs/librepcb/common/dialogs/directorylockhandlerdialog.ui
  libs/librepcb/common/fileio/directorylock.cpp
  libs/librepcb/common/fileio/directorylock.h
  libs/librepcb/common/fileio/transactionalfilesystem.cpp
  libs/librepcb/common/fileio/transactionalfilesystem.h
  libs/librepcb/libraryeditor/common/editorwidgetbase.cpp
  libs/librepcb/libraryeditor/lib/libraryoverviewwidget.cpp
  libs/librepcb/libraryeditor/lib/libraryoverviewwidget.h
  libs/librepcb/libraryeditor/libraryeditor.cpp
  libs/librepcb/workspace/workspace.cpp
  libs/librepcb/workspace/workspace.h
  tests/unittests/common/fileio/directorylocktest.cpp
Labels: enhancement

#875 Component editor: Remove checkbox text "required/optional"
  libs/librepcb/libraryeditor/cmp/componentsignallistmodel.cpp
Labels: UI / UX, tool-library-editor

#877 Schematic editor: Snap wires to pins/junctions off the grid
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorfsm.cpp
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorfsm.h
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorstate.h
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorstate_drawwire.cpp
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorstate_drawwire.h
  libs/librepcb/projecteditor/schematiceditor/schematiceditor.cpp
Labels: UI / UX, enhancement, tool-schematics-editor

#878 Board editor: Do not reject placing vias on top of other items
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorstate_addvia.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorstate_addvia.h
Labels: UI / UX, enhancement, tool-board-editor

#880 Allow overriding clang-format with environment variable
  dev/format_code.sh
Labels: development
