Repository LibrePCB/LibrePCB, pull requests merged in 2021-02, with the labels that each got.

#811 Document license of icons
  img/README.md
Labels: documentation

#855 Fix crash after adding a device to a board failed
  libs/librepcb/project/boards/items/bi_footprint.cpp
  libs/librepcb/project/boards/items/bi_footprint.h
Labels: bug, tool-board-editor

#854 Allow creating unconnected board net segments (traces/vias)
  libs/librepcb/common/circuitidentifier.h
  libs/librepcb/project/boards/board.cpp
  libs/librepcb/project/boards/board.h
  libs/librepcb/project/boards/boardplanefragmentsbuilder.cpp
  libs/librepcb/project/boards/cmd/cmdboardnetsegmentadd.cpp
  libs/librepcb/project/boards/cmd/cmdboardnetsegmentadd.h
  libs/librepcb/project/boards/cmd/cmdboardnetsegmentedit.cpp
  libs/librepcb/project/boards/cmd/cmdboardnetsegmentedit.h
  libs/librepcb/project/boards/drc/boardclipperpathgenerator.cpp
  libs/librepcb/project/boards/drc/boarddesignrulecheck.cpp
  libs/librepcb/project/boards/graphicsitems/bgi_netline.cpp
  libs/librepcb/project/boards/graphicsitems/bgi_netpoint.cpp
  libs/librepcb/project/boards/graphicsitems/bgi_via.cpp
  libs/librepcb/project/boards/items/bi_footprintpad.cpp
  libs/librepcb/project/boards/items/bi_netline.cpp
  libs/librepcb/project/boards/items/bi_netline.h
  libs/librepcb/project/boards/items/bi_netpoint.cpp
  libs/librepcb/project/boards/items/bi_netpoint.h
  libs/librepcb/project/boards/items/bi_netsegment.cpp
  libs/librepcb/project/boards/items/bi_netsegment.h
  libs/librepcb/project/boards/items/bi_via.cpp
  libs/librepcb/project/boards/items/bi_via.h
  libs/librepcb/projecteditor/boardeditor/boardclipboarddata.h
  libs/librepcb/projecteditor/boardeditor/boardclipboarddatabuilder.cpp
  libs/librepcb/projecteditor/boardeditor/boardviapropertiesdialog.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorstate_addvia.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorstate_addvia.h
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorstate_drawtrace.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorstate_drawtrace.h
  libs/librepcb/projecteditor/cmd/cmdcombineboardnetsegments.cpp
  libs/librepcb/projecteditor/cmd/cmdcombinenetsignals.cpp
  libs/librepcb/projecteditor/cmd/cmdpasteboarditems.cpp
  tests/unittests/common/circuitidentifiertest.cpp
Labels: enhancement, file format, tool-board-editor

#857 CI: Update to latest runners and Docker images
  ci/azure-jobs-doxygen.yml
  ci/azure-jobs-linux.yml
  ci/azure-jobs-stylecheck.yml
  ci/azure-jobs-windows.yml
Labels: ci

#867 Library editor: Provide "snap to grid" context menu item
  libs/librepcb/common/geometry/cmd/cmdcircleedit.cpp
  libs/librepcb/common/geometry/cmd/cmdcircleedit.h
  libs/librepcb/common/geometry/cmd/cmdholeedit.cpp
  libs/librepcb/common/geometry/cmd/cmdholeedit.h
  libs/librepcb/common/geometry/cmd/cmdpolygonedit.cpp
  libs/librepcb/common/geometry/cmd/cmdpolygonedit.h
  libs/librepcb/common/geometry/cmd/cmdstroketextedit.cpp
  libs/librepcb/common/geometry/cmd/cmdstroketextedit.h
  libs/librepcb/common/geometry/cmd/cmdtextedit.cpp
  libs/librepcb/common/geometry/cmd/cmdtextedit.h
  libs/librepcb/common/geometry/path.cpp
  libs/librepcb/common/geometry/path.h
  libs/librepcb/library/pkg/cmd/cmdfootprintpadedit.cpp
  libs/librepcb/library/pkg/cmd/cmdfootprintpadedit.h
  libs/librepcb/library/sym/cmd/cmdsymbolpinedit.cpp
  libs/librepcb/library/sym/cmd/cmdsymbolpinedit.h
  libs/librepcb/libraryeditor/pkg/fsm/cmd/cmddragselectedfootprintitems.cpp
  libs/librepcb/libraryeditor/pkg/fsm/cmd/cmddragselectedfootprintitems.h
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorstate_select.cpp
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorstate_select.h
  libs/librepcb/libraryeditor/sym/fsm/cmd/cmddragselectedsymbolitems.cpp
  libs/librepcb/libraryeditor/sym/fsm/cmd/cmddragselectedsymbolitems.h
  libs/librepcb/libraryeditor/sym/fsm/symboleditorstate_select.cpp
  libs/librepcb/libraryeditor/sym/fsm/symboleditorstate_select.h
Labels: UI / UX, enhancement, tool-library-editor
