Repository LibrePCB/LibrePCB, pull requests merged in 2021-05, with the labels that each got.

#885 Drop support for Qt < 5.5
  README.md
  apps/librepcb/controlpanel/controlpanel.cpp
  apps/librepcb/projectlibraryupdater/projectlibraryupdater.cpp
  ci/azure-jobs-linux.yml
  common.pri
  dev/doxygen/pages/code_style_guide.md
  libs/librepcb/common/debug.cpp
  libs/librepcb/common/dialogs/aboutdialog.cpp
  libs/librepcb/common/geometry/path.h
  libs/librepcb/common/graphics/graphicsview.cpp
  libs/librepcb/common/network/networkrequestbase.cpp
  libs/librepcb/libraryeditor/common/editorwidgetbase.cpp
  libs/librepcb/libraryeditor/pkg/fsm/packageeditorstate_select.cpp
  libs/librepcb/libraryeditor/sym/fsm/symboleditorstate_select.cpp
  libs/librepcb/projecteditor/boardeditor/boardeditor.cpp
  libs/librepcb/projecteditor/boardeditor/fsm/boardeditorstate_select.cpp
  libs/librepcb/projecteditor/projecteditor.cpp
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorstate_addcomponent.cpp
  libs/librepcb/projecteditor/schematiceditor/fsm/schematiceditorstate_select.cpp
  libs/librepcb/projecteditor/schematiceditor/schematiceditor.cpp
  tests/unittests/common/fileio/directorylocktest.cpp
  tests/unittests/common/systeminfotest.cpp
Labels: build system, ci, documentation

#888 BOM Export: Show whether devices are in sync with schematic
  libs/librepcb/projecteditor/dialogs/bomgeneratordialog.cpp
  libs/librepcb/projecteditor/dialogs/bomgeneratordialog.ui
Labels: UI / UX, enhancement

#889 Library Editor: fix typo
  libs/librepcb/libraryeditor/newelementwizard/newelementwizardpage_deviceproperties.ui
Labels: UI / UX, bug, i18n / l10n, tool-library-editor
