Repository LibrePCB/LibrePCB, pull requests merged in 2022-04, with the labels that each got.

#967 Fix rotation & height of some symbol / pin texts
  libs/librepcb/core/geometry/stroketext.cpp
  libs/librepcb/core/graphics/graphicspainter.cpp
  libs/librepcb/core/graphics/graphicspainter.h
  libs/librepcb/core/graphics/primitivetextgraphicsitem.cpp
  libs/librepcb/core/graphics/primitivetextgraphicsitem.h
  libs/librepcb/core/graphics/textgraphicsitem.cpp
  libs/librepcb/core/graphics/textgraphicsitem.h
  libs/librepcb/core/library/pkg/footprintpadgraphicsitem.cpp
  libs/librepcb/core/library/pkg/footprintpainter.cpp
  libs/librepcb/core/library/sym/symbolpainter.cpp
  libs/librepcb/core/library/sym/symbolpin.h
  libs/librepcb/core/library/sym/symbolpingraphicsitem.cpp
  libs/librepcb/core/library/sym/symbolpingraphicsitem.h
  libs/librepcb/core/project/board/boardpainter.cpp
  libs/librepcb/core/project/schematic/graphicsitems/sgi_netlabel.cpp
  libs/librepcb/core/project/schematic/graphicsitems/sgi_symbol.cpp
  libs/librepcb/core/project/schematic/graphicsitems/sgi_symbolpin.cpp
  libs/librepcb/core/project/schematic/schematicpainter.cpp
  libs/librepcb/core/project/schematic/schematicpainter.h
  libs/librepcb/core/utils/toolbox.cpp
  libs/librepcb/core/utils/toolbox.h
  libs/librepcb/editor/library/sym/symbolpinpreviewgraphicsitem.cpp
  libs/librepcb/editor/library/sym/symbolpreviewgraphicsitem.cpp
  tests/unittests/core/utils/toolboxtest.cpp
Labels: bug, tool-schematics-editor, tool-library-editor

#968 ProjectLibrary: Fix nullpointer dereference in error handler
  libs/librepcb/core/project/projectlibrary.cpp
Labels: bug

#970 CMake: Add alias for muparser target
  cmake/FindMuParser.cmake
Labels: build system

#973 GraphicsExportDialog: Fix slow UI due to recursion
  libs/librepcb/editor/dialogs/graphicsexportdialog.cpp
Labels: bug, UI / UX, tool-board-editor
