Repository LibrePCB/LibrePCB, pull requests merged in 2024-02, with the labels that each got.

#1291 Improve stacking order of graphics items
  libs/librepcb/editor/graphics/circlegraphicsitem.cpp
  libs/librepcb/editor/graphics/circlegraphicsitem.h
  libs/librepcb/editor/graphics/polygongraphicsitem.cpp
  libs/librepcb/editor/graphics/polygongraphicsitem.h
  libs/librepcb/editor/library/pkg/footprintgraphicsitem.cpp
  libs/librepcb/editor/library/sym/symbolgraphicsitem.cpp
  libs/librepcb/editor/project/schematiceditor/graphicsitems/sgi_symbol.cpp
Labels: bug, UI / UX, tool-schematics-editor, tool-library-editor

#1296 Package check: Warn about invalid pad connections
  libs/librepcb/core/library/pkg/packagecheck.cpp
  libs/librepcb/core/library/pkg/packagecheck.h
  libs/librepcb/core/library/pkg/packagecheckmessages.cpp
  libs/librepcb/core/library/pkg/packagecheckmessages.h
Labels: enhancement, UI / UX, tool-library-editor

#1300 Add Repology badge to README.md
  README.md
Labels: documentation

#1301 3D Viewer: Improve behavior of zoom/pan/rotate
  libs/librepcb/editor/widgets/openglview.cpp
  libs/librepcb/editor/widgets/openglview.h
Labels: enhancement, UI / UX, tool-board-editor, tool-library-editor

#1302 Board editor: Fix layer change when starting trace on THT pad
  libs/librepcb/editor/project/boardeditor/fsm/boardeditorstate.cpp
Labels: bug, UI / UX, tool-board-editor

#1303 "New Project"-wizard: Allow modifying project directory & filename
  libs/librepcb/editor/project/newprojectwizard/newprojectwizard.cpp
  libs/librepcb/editor/project/newprojectwizard/newprojectwizard.h
  libs/librepcb/editor/project/newprojectwizard/newprojectwizard.ui
  libs/librepcb/editor/project/newprojectwizard/newprojectwizardpage_metadata.cpp
  libs/librepcb/editor/project/newprojectwizard/newprojectwizardpage_metadata.h
  libs/librepcb/editor/project/newprojectwizard/newprojectwizardpage_metadata.ui
  libs/librepcb/editor/workspace/controlpanel/controlpanel.cpp
  tests/funq/aliases
  tests/funq/controlpanel/test_create_project.py
Labels: enhancement, UI / UX

#1306 Control Panel: Support delete shortcut in projects tree
  libs/librepcb/editor/workspace/controlpanel/controlpanel.cpp
  libs/librepcb/editor/workspace/controlpanel/controlpanel.h
Labels: enhancement, UI / UX

#1304 Graphics output job: Add support for realistic PCB rendering
  libs/librepcb/core/CMakeLists.txt
  libs/librepcb/core/job/graphicsoutputjob.h
  libs/librepcb/core/project/board/realisticboardpainter.cpp
  libs/librepcb/core/project/board/realisticboardpainter.h
  libs/librepcb/core/project/outputjobrunner.cpp
Labels: enhancement, export

#1308 Schematic editor: Hide redundant pin numbers
  libs/librepcb/core/project/schematic/items/si_symbolpin.cpp
Labels: enhancement, UI / UX, tool-schematics-editor

#1310 Control Panel: Fix unreadable list view colors for dark themes
  libs/librepcb/editor/workspace/controlpanel/controlpanel.ui
Labels: UI / UX

#1311 Library editor: Fix suggested signals when duplicating component
  libs/librepcb/editor/library/newelementwizard/newelementwizardpage_componentsymbols.cpp
  libs/librepcb/editor/library/newelementwizard/newelementwizardpage_componentsymbols.h
Labels: bug, UI / UX, tool-library-editor

#1312 Limit search result auto-zoom to a certain margin
  libs/librepcb/editor/project/boardeditor/boardeditor.cpp
  libs/librepcb/editor/project/schematiceditor/schematiceditor.cpp
Labels: enhancement, UI / UX, tool-board-editor, tool-schematics-editor

#1309 Device editor: Add tools to help defining the pinout
  libs/librepcb/core/serialization/serializableobjectlist.h
  libs/librepcb/editor/library/dev/deviceeditorwidget.cpp
  libs/librepcb/editor/library/dev/padsignalmapeditorwidget.cpp
  libs/librepcb/editor/library/dev/padsignalmapeditorwidget.h
  libs/librepcb/editor/modelview/comboboxdelegate.cpp
  tests/unittests/core/serialization/serializableobjectlisttest.cpp
Labels: enhancement, UI / UX, tool-library-editor

#1314 Update AppStream MetaInfo to conform to latest Freedesktop spec
  share/metainfo/org.librepcb.LibrePCB.metainfo.xml
Labels: deployment
