Repository LibrePCB/LibrePCB, pull requests merged in 2024-03, with the labels that each got.

#1318 EAGLE Import: Fix ignoring library URNs
  libs/librepcb/eagleimport/eaglelibraryconverter.cpp
  libs/librepcb/eagleimport/eaglelibraryconverter.h
  libs/librepcb/eagleimport/eaglelibraryimport.cpp
  libs/librepcb/eagleimport/eagleprojectimport.cpp
Labels: bug

#1323 CMake: Improve suppression of deprecation warnings
  CMakeLists.txt
  cmake/FindDxflib.cmake
  cmake/FindMuParser.cmake
Labels: ci, build system

#1326 Use lighter toolbar icons if dark theme is detected
  img/README.md
  img/actions/add_hole.png
  img/actions/add_name_dark.png
  img/actions/add_text_dark.png
  img/actions/add_value_dark.png
  img/actions/draw_line_dark.png
  img/actions/draw_netlabel_dark.png
  img/actions/draw_wire_dark.png
  img/actions/grid_dark.png
  img/actions/show_pin_numbers_dark.png
  img/command_toolbars/wire_45_90_dark.png
  img/command_toolbars/wire_90_45_dark.png
  img/command_toolbars/wire_h_v_dark.png
  img/command_toolbars/wire_straight_dark.png
  img/command_toolbars/wire_v_h_dark.png
  img/images.qrc
  img/library/bipolar_capacitor_eu_dark.png
  img/library/bipolar_capacitor_us_dark.png
  img/library/gnd_dark.png
  img/library/inductor_eu_dark.png
  img/library/inductor_us_dark.png
  img/library/resistor_eu_dark.png
  img/library/resistor_us_dark.png
  img/library/unipolar_capacitor_eu_dark.png
  img/library/unipolar_capacitor_us_dark.png
  img/library/vcc_dark.png
  img/norm/iec_60617_dark.png
  img/norm/ieee_315_dark.png
  libs/librepcb/editor/editorcommand.cpp
  libs/librepcb/editor/editorcommand.h
  libs/librepcb/editor/editorcommandset.h
  libs/librepcb/editor/project/partinformationtooltip.cpp
  libs/librepcb/editor/project/schematiceditor/schematiceditor.cpp
  libs/librepcb/editor/utils/editortoolbox.cpp
  libs/librepcb/editor/utils/editortoolbox.h
Labels: enhancement, UI / UX, tool-board-editor, tool-schematics-editor, tool-library-editor

#1329 CMake: Fix linking with OCCT 7.8.x
  cmake/FindOpenCascade.cmake
Labels: build system

#1334 Add "toggle 2D/3D" button to toolbars
  libs/librepcb/editor/library/libraryeditor.cpp
  libs/librepcb/editor/project/boardeditor/boardeditor.cpp
Labels: UI / UX, tool-board-editor, tool-library-editor

#1333 Add component dialog: Add context menu to parts
  libs/librepcb/editor/editorcommandset.h
  libs/librepcb/editor/project/addcomponentdialog.cpp
  libs/librepcb/editor/project/addcomponentdialog.h
Labels: enhancement, UI / UX, tool-schematics-editor

#1307 Initialize new workspace with some example projects
  libs/librepcb/editor/editorcommandset.h
  libs/librepcb/editor/workspace/controlpanel/controlpanel.cpp
  libs/librepcb/editor/workspace/controlpanel/controlpanel.h
  libs/librepcb/editor/workspace/initializeworkspacewizard/initializeworkspacewizard_choosesettings.ui
  libs/librepcb/editor/workspace/initializeworkspacewizard/initializeworkspacewizardcontext.cpp
  libs/librepcb/editor/workspace/initializeworkspacewizard/initializeworkspacewizardcontext.h
Labels: enhancement, UI / UX

#1316 Add licensing data for https://reuse.software/
  .reuse/dep5
  LICENSES/BSL-1.0.txt
  LICENSES/CC-BY-3.0.txt
  LICENSES/CC-BY-SA-3.0.txt
  LICENSES/CC-BY-SA-4.0.txt
  LICENSES/CC0-1.0.txt
  LICENSES/GPL-2.0-only.txt
  LICENSES/GPL-3.0-only.txt
  LICENSES/GPL-3.0-or-later.txt
  LICENSES/LGPL-2.1-only.txt
  LICENSES/LicenseRef-CopyrightedFreeUsage.txt
  LICENSES/LicenseRef-Icons8.txt
  ci/azure-jobs-stylecheck.yml
  ci/stylecheck.sh
  img/README.md
  img/actions/export_zip.png
  img/actions/new_file.png
  img/actions/select.png
  img/images.qrc
  img/places/file.png
  img/status/info.png
Labels: documentation

#1338 Board editor: Fix missing inner layers in dropdowns
  libs/librepcb/editor/project/boardeditor/fsm/boardeditorstate.cpp
  libs/librepcb/editor/project/boardeditor/fsm/boardeditorstate.h
Labels: bug, UI / UX, tool-board-editor

#1339 DRC: Add checks for unused or disabled layers
  libs/librepcb/core/project/board/drc/boarddesignrulecheck.cpp
  libs/librepcb/core/project/board/drc/boarddesignrulecheck.h
  libs/librepcb/core/project/board/drc/boarddesignrulecheckmessages.cpp
  libs/librepcb/core/project/board/drc/boarddesignrulecheckmessages.h
Labels: enhancement, tool-board-editor

#1340 Add new Windows installer based on Inno Setup
  CMakeLists.txt
  ci/azure-jobs-windows.yml
  ci/build_windows_installer.sh
  dist/innosetup/.gitignore
  dist/innosetup/config.iss.in
  dist/innosetup/installer.iss
  dist/innosetup/logo.bmp
  dist/innosetup/watermark.bmp
Labels: ci, deployment, os-windows, build system

#1343 Library editor: Refactor "copy to other library"
  libs/librepcb/editor/library/lib/libraryoverviewwidget.cpp
  libs/librepcb/editor/library/lib/libraryoverviewwidget.h
  libs/librepcb/editor/utils/menubuilder.cpp
  libs/librepcb/editor/utils/menubuilder.h
Labels: UI / UX, tool-library-editor

#1348 OutputJobsDialog: Ask for discarding changes
  libs/librepcb/editor/project/outputjobsdialog/outputjobsdialog.cpp
  libs/librepcb/editor/project/outputjobsdialog/outputjobsdialog.h
  libs/librepcb/editor/project/outputjobsdialog/outputjobsdialog.ui
Labels: enhancement, UI / UX

#1349 Provide visual feedback on save & copy actions
  libs/librepcb/editor/library/pkg/fsm/packageeditorstate_select.cpp
  libs/librepcb/editor/library/sym/fsm/symboleditorstate_select.cpp
  libs/librepcb/editor/project/boardeditor/boardeditor.cpp
  libs/librepcb/editor/project/boardeditor/fsm/boardeditorstate_select.cpp
  libs/librepcb/editor/project/projecteditor.cpp
  libs/librepcb/editor/project/projecteditor.h
  libs/librepcb/editor/project/schematiceditor/fsm/schematiceditorstate_select.cpp
  libs/librepcb/editor/project/schematiceditor/schematiceditor.cpp
Labels: enhancement, UI / UX, tool-board-editor, tool-schematics-editor, tool-library-editor

#1350 3D viewers: Fix flicker in PCB surface
  libs/librepcb/editor/3d/openglscenebuilder.cpp
Labels: bug, UI / UX, tool-board-editor, tool-library-editor

#1351 Control panel: Add donate button
  .reuse/dep5
  LICENSES/CC-BY-4.0.txt
  img/README.md
  img/actions/donate_white.svg
  img/images.qrc
  libs/librepcb/editor/workspace/controlpanel/controlpanel.cpp
  libs/librepcb/editor/workspace/controlpanel/controlpanel.ui
Labels: UI / UX
