Repository LibrePCB/LibrePCB, pull requests merged in 2025-07, with the labels that each got.

#1543 CLI: Implement "open-package" and "open-symbol" with --export and --check
  apps/librepcb-cli/commandlineinterface.cpp
  apps/librepcb-cli/commandlineinterface.h
  libs/librepcb/core/export/graphicsexport.cpp
  tests/cli/helpers.py
  tests/cli/open_package/__init__.py
  tests/cli/open_package/test_check.py
  tests/cli/open_package/test_export.py
  tests/cli/open_package/test_parser.py
  tests/cli/open_project/test_export_schematics.py
  tests/cli/open_project/test_parser.py
  tests/cli/open_symbol/__init__.py
  tests/cli/open_symbol/test_check.py
  tests/cli/open_symbol/test_export.py
  tests/cli/open_symbol/test_parser.py
  tests/cli/test_help.py
Labels: enhancement, tool-cli

#1555 CI: Update Windows docker image
  .github/workflows/main.yml
Labels: ci, deployment, os-windows

#1557 Set up code signing of Windows executables & installer
  .github/workflows/main.yml
  ci/azure-jobs-linux.yml
  ci/azure-jobs-macos.yml
  ci/azure-jobs-stylecheck-doxygen.yml
  ci/build_windows_archive.sh
  ci/build_windows_installer.sh
  ci/sign.ps1
  ci/tar_artifacts.sh
  ci/upload_artifacts.sh
  dev/doxygen/pages/release_workflow.md
  dist/innosetup/installer.iss
Labels: ci, deployment, os-windows

#1559 SlintGraphicsView: Support rendering with OpenGL
  libs/librepcb/editor/graphics/slintgraphicsview.cpp
  libs/librepcb/editor/graphics/slintgraphicsview.h
  libs/librepcb/editor/library/sym/symboltab.cpp
  libs/librepcb/editor/project/board/board2dtab.cpp
  libs/librepcb/editor/project/schematic/schematictab.cpp
Labels: enhancement, UI / UX
